.btn-goback
{
    width: 80%;
    margin: 10px 10px;
    padding: 10px 10px;
    font-weight: 500;
    font-size: 16px;
    box-shadow: 2px 2px #000913;
}

h2{
    text-align: center;
}

.lbl-details
{
  font-size: 14px;
  padding: 5px;
  .lbl-bold
  {
      font-weight: 500;
  }
}

.div-spinner {
    text-align: center;
    margin-top: 25px;
  }